/* #table-wrapper{
  align-text:center;
} */
body{
  background-color:coral;
}
#form-div{
  display:flex;
  justify-content: center;

}
td{
  text-shadow: blue;
  font-size:20px;
  border: 1px solid black;

}
th{
  font-size:25px;
  border: 1px solid black;

}
h1{
  font-size: 57px;
    text-align: center;
}
label{
  font-size: 25px;
}
table{
  border: 1px solid black;
}